*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}
/* nav bar  */
nav{
    display: flex;
    justify-content: space-between;
    padding: 24px;
    font-size: 1.5rem;
    background-color:transparent;
}
.p2{
    display: flex;
    list-style: none;
}
.p2 a {
    text-decoration: none;
    color: black;
    margin: 0px 24px;
}
.nav-btn{
    text-transform: capitalize;
    background-color: blueviolet;
    color:white;
    padding: 16px;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
}


/* nav bar */