*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:sans-serif
}
.button{
    text-transform: capitalize;
    background-color:#913bff;
    color:white;
    padding: 16px;
    border: none;
    border-radius: 10px;
    font-size: 1.3rem;
}
/* nav bar  */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
    font-size: 1.5rem;
    background-color:transparent;
}
.p2{
    display: flex;
    list-style: none;
}
.p2 a {
    text-decoration: none;
    color: black;
    margin: 0px 24px;
}
.p3 span{
    margin-right:40px ;
}
.nav-btn{
    text-transform: capitalize;
    background-color: #913bff;
    color:white;
    padding: 16px;
    border: none;
    border-radius: 10px;
    font-size: 1.3rem;

}


/* nav bar */

/* hero section */
.hero{
    padding: 32px;
    margin: 0px 32px;

}
.hero-wrapper{
    display: flex;
    justify-content: center;
    padding:0px 32px;

}
.hero-left{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

}
.hero-left h1{
    font-size: 5rem;
}
.hero-left p{
    margin: 48px 0px 16px;
    font-size: 1.4rem;
    padding: 0px 48px 0px 0px;
}
.hero-left h1 span{
    color: #913bff;
    text-decoration: underline;
}
#hero-btn{
    background-color: #0066ff;
    margin-top: 25px;
}
.hero-right{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-right img{
    width: 500px;
}
/* hero section */
/* services */

.services{
    padding: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.services-wrapper{
    display: flex;
    justify-content:center;
    align-items: center;
    margin: 16px;
}
.services-wrapper span {
    width: 33.33%;
}
.services-wrapper span{
    display: flex;
    justify-content: center;
    align-items: center;
}
.services-wrapper span div{
    width: 80%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    flex-direction: flex-start;
}
.services-wrapper span div p{
    width: 70%;
}
.services-wrapper span div i{
    font-size: 3rem;
    color: #0066ff;
    margin-bottom:15px ;
}
.services-wrapper span div h2{
    margin-bottom: 15px;
}
.services-wrapper span div p{
    line-height: 1.2;
}
/* services */